{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}


{% block main %}
    <table class="table table-striped" style="text-align: left">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td name="total-total">{{ total_total }}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in portfolio %}
                <tr>
                        <td>{{ row["symbol"] }}</td>
                        <td>{{ row["name"] }}</td>
                        <td>{{ row["share"] }}</td>
                        <td>{{ row["price"] }}</td>
                        <td>{{ row["holding"] }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}